header {
    position: relative;
    color: white;
    background: #ffffff;
    height: 60px;
    border-color: #cccccc;
}
/*My name/Logo*/
h1 {
    position: relative;
    background: #4aaaa5;
    width: 20%;
    height: 100%;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 5%;
    padding: 10px;
    display: inline;
    text-align: center;   
}
/*Nav buttons*/
ul {
    position: relative;
    float: right;
    margin-right: 10%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    word-spacing: 15px;
    
}

/*list-inline is a bootstrap class. no code on that class in css*/
/*main content*/
body {
    font-size: 18px;
    line-height: 32px;
	  color: #777777;
    border-bottom: thick;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #f0ece8;   
}

h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #08afa7;
    font-size: 25px;
}

/*background container*/
.box {
    position: relative;
    background: #f0ece8;
    width: 960px;
    height: 650px;
    left: 150px;
    top: 30px;
}
/*main content*/
.box-1 {
    position: relative;
    width: 650px;
    background: #feffff;
    margin: 0px;
    padding: 5px;
    float: left;
    /*z-index: 1; tried using this to float text over images*/
}

/*side bar */
.box-2 {
   position: relative;
   background-color: #feffff;
   width: 240px;
   margin-left: 15px;
   margin-top: 0px;
   padding: 5px;
   float: left;
   text-align: center;
}

.profile-pic {
  float: left;
  padding-right: 10px;
}

.portfolio-pic {
    position: relative;
    float: left;
    height:125px;
    width: 200px;
    padding: 5px;
    margin-left: 75px;
    z-index: 1;
}
/*I created the class "portfolio-title" but removed it from the html becuase I need to figure out how to place 
each individual title over the images. when i put the class inside the h4 tag it was laying both under and 
over the images and the images started to be pushed down...I only changed two of the h4 tags.. */
/* .portfolio-title {
    position: relative;
    background-color: #08afa7;
    color: white;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100x;
    height: 30px;
    text-align:center;
    z-index: 2;
}*/

/*Form elements*/
.background-switch {
  text-align: center;
  color: white; 
  width: 70px; 
  height: 40px;
  background-color: #08afa7;
}
.background-switch:hover {
  background-color: pink; 
  color: black;
  border-radius: 30px;
  height: 50px;
  width: 80px;
  }
form input{
    font-style: 16px; 
    height:30px; 
    width:600px
}
label{
    display: block;
}
#messagebox {
  font-size:16px; 
  height:200px; 
  width:600px
}
/*Footer*/
footer {
    position: relative;
    height: 100px;
    width: 100%;
    top: 120px;
    bottom: 0px;
    background-color: #666666;
    color: #777777;
    text-align: center;
    clear: both;
}

@media only screen and (max-width: 980px) {
  .box {
    width: 75%;
    height: 75%;
  }
  .box-1 {
    width: 55%;
    height: 50%;
  }
  .box-2 {
    width: 40%;
    height: 40%;
    float: right;
  }
  form input {
    width: 100%;
  }
  #messagebox {
    width: 100%;
  }
  .profile-pic {
    width: 100%;
    height: 75%;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: 90%;
    height: 75%;
    left: 5%;
    right: 5%;
  }
  .box-1 {
    width: 100%;
    height: 50%;
    margin-right: 5%;
  }
  .box-2 {
    width: 100%;
    height: 40%;
    float: left;
    margin:40px 5px 10px 0px;
  }
  form input {
    width: 100%
  }
  #messagebox {
    width: 100%;
  }
  .profile-pic {
    width: 50%;
    height: 50%;
  } 
}

@media screen and (max-width: 640px) {
  
  header {
     position: static;
     width: 640px;
  }
  h1 {
     width: 100%;
     display: block;
     margin: 0px;
  }

  .profile-pic {
     width: 100%;
     height: 100%;
  }
  
  ul {
     float: none;
     margin: 0 auto;
     text-align: center;
  }
}

  
